
body {
  font: 12px Arial;
  background-color: rgb(20,20,25);
  margin : 0;
  padding : 0;
}

path {
    stroke: red;
    stroke-width: 2;
    fill: none;
}

#graph {
  font-size: 12px;
  font-family: Courier;
  color : rgb(240,240,240);
  margin-left: 30px;
}

h1 {
  color : rgb(240,240,240);
}

.axis path,
.axis line {
    fill: none;
    stroke: rgb(240,240,240);
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.axis text {
   fill: rgb(240,240,240);
}
